.bgCard {
  background-color: lightgrey;
  height: 85vh;
  width: 97vw;
  margin: 2.75vh auto auto;
  background-image: url(https://images.pexels.com/photos/7148674/pexels-photo-7148674.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;

}

.searchBar{
  display: flex;
  width: 85%;
  border-radius: 50vw;
  background-color: #fff;
  margin: auto auto;
  padding: 10px 20px;
}
.innerbgCard{
  flex: 15;
  border-color: rgb(204, 198, 198);
  border-left: 0.5px;
  border-right: 0.5px;
  padding-left: 12px;
  border-style: solid;
}
.icon{
  flex: 1;
}
.btn{
  flex: 2;
}
